* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Advent Pro;
}

.App {
    padding: 30px 30px 0px;
}

.title {
    font-size: 64px;
    font-weight: 600;
    color: #D4D4D4;
}

.search {
    width: 1300px;
    height: 56px;
    margin-left: 45px;
    background-color: #4B4B4B;
    outline: none;
    font-size: 30px;
    font-weight: 500;
    border: 0;
    border-radius: 5px 50px 50px 5px;
    color: #D4D4D4;
    padding-left: 25px;
}

.btn {
    width: 259px;
    height: 56px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 45px;
    margin-top: 36px;
    background-color: #D4D4D4;
    cursor: pointer;
    color: #2F2E2E;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e8e5e5;
}

.btn-week {
    border-radius: 5px 5px 60px 5px;
}

.card {
    width: 260px;
    height: 350px;
    background: #D4D4D4;
    margin-top: 80px;
    margin-left: 45px;
}

.temperature {
    font-size: 90px;
    font-weight: 400;
    text-align: center;
}

.iconWeather {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.Celsius {
    font-size: 45px;
    vertical-align: super;
}